<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ObjcSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SwiftSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TwitterSearchKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TwitterSearchKitTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DE062BF71F179F8800DF2E1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE062C081F17B84000DF2E1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEC1EF0A1F17E44E00280139</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEC1EF1B1F183C6400280139</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
